

.my_imgs_w{width:28rem !important;}
#list li img{width:5.2rem !important;}
.my_div_overflow{overflow:hidden;}
.btn-outline-secondary:hover{color: #007bff;background-color:transparent;border-color:#007bff;}
